<footer class="text-light py-3" style=" background-color: #000 ;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Flitnet</h5>
                <p class="text-muted">Flixnet is a streaming service that allows you to watch a wide variety of movies
                    and TV shows on demand.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled text-muted">
                    <li><i class="fas fa-map-marker-alt"></i> 123 Main St, Anytown USA</li>
                    <li><i class="fas fa-phone"></i> (555) 555-1212</li>
                    <li><i class="fas fa-envelope"></i> info@flixnet.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled d-flex justify-content-start">
                    <li class="px-2"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="px-2"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="px-2"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="px-2"><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>

</html>