
<div class="hero-slide__item ">
    <div class="hero-slide__item__content">
        <div class="hero-slide__item__content__info">
            <h2 class="title">Title film</h2>
            <div class="overview">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Consequatur sed alias neque voluptates omnis
                non, reiciendis eum. Veniam esse dicta, sapiente vero qui culpa
                vitae neque quibusdam voluptas, ipsa iste.</div>
            <div class="btns">
                <div class="btn-watch" role="button" tabindex="-1">Watch now</div>
                <div class="btn-trailer" role="button" tabindex="-1">
                    Watch trailer</div>
            </div>
        </div>
        <div class="hero-slide__item__content__poster">
            <img
                src="https://lumiere-a.akamaihd.net/v1/images/p_20cs_avatarwayofwater_1710_4025feea.jpeg?region=0%2C0%2C540%2C810"
                alt=""
                class="poster"
            />
        </div>
    </div>
</div>